# Stockbit Crawler Configuration
STOCKBIT_BEARER_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6ImExNWQ5OGE2LTdkYzgtNDM3NS05NDk0LTEyOWJlM2RlODVkNCIsInR5cCI6IkpXVCJ9.eyJkYXRhIjp7InVzZSI6IkZhZGFzaGkiLCJlbWEiOiJmYWlzaGFsZGFmZmExNkBnbWFpbC5jb20iLCJmdWwiOiJGYWlzaGFsIERhZmZhIiwic2VzIjoiQUY4Z3VCaUx4Z1FhZVBKcSIsImR2YyI6IjhkNWE1MzhkZjg0Mzk0ZGEwOTE5ZWEyNWIwYTM3NTBhIiwidWlkIjo0MjIyOTY5LCJjb3UiOiJJRCJ9LCJleHAiOjE3ODQ4ODg3MTEsImlhdCI6MTc4NDgwMjMxMSwiaXNzIjoiU1RPQ0tCSVQiLCJqdGkiOiIxNmZjYjAwOS01ZGI4LTQ0MGQtOGVkMS0wMmNjYjQzY2QyZjQiLCJuYmYiOjE3ODQ4MDIzMTEsInZlciI6InYxIn0.ksRHWEn-NAdUoAAZ7LlbzK60jjx06FI2kXClnPKdtcE5n9wzOAERGmYyar6fewTLYaa6hFUsMC8hZXvuyTu2-oXIJqBOgU9DkfKdM8PZSql9jJAaQGFoeMuT1gLI680rJt-IqF3wjds1YZF56nABA0OtknBboixra4seTiUiy4D_sZoYBRM6WS3qjo7oEqWdyJ-QGnz6CvZ6CPWhuoYmzJ0swQYGyAoMfC_uzHKg71dVSAZ4_WED9m3VDrw_G6ZMOA6gJ-3Z9FhDmB8m_KecOMwzEuzUyCgv_F81Y3eJsN_6V15mbJFuO9BMpRfhangzw75DjjL6SV1dJ6895rSDxw
STOCKBIT_STREAM_URL=https://api.stockbit.com/v2/stream/symbol/BBCA
